<!DOCTYPE html>
<html lang="en" data-ng-app="tradeApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Trading Recording Application</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/theme.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="js/angular.js"></script>
    <script src="js/angular-messages.js"></script>
    <script src="js/tradeApp.js"></script>
</head>

<body>
<div class="container" role="main">

    <div class="page-header">
        <h1>Trade Recording Application</h1>
        <p>
            Angular JS Web Application, Bootstrap Layout, Java REST server, Spring Boot and Spring JDBC Templates.
        </p>
    </div>
    <div>
        <h2>Trade Management</h2>
    </div>
    <div class="container" role="main" data-ng-controller="layoutCtrl" data-ng-cloak>
        <div class="row">
            <div data-ng-show="showError" class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-ng-click="showError=false"><span>&times;</span></button>
                <span>{{ $error.failed }}</span>
            </div>
        </div>

        <div class="row" data-ng-controller="tradeListCtrl">
             <div class="col-md-2" role="complementary">
                 <div>Service version: {{serverVersion}}</div>
                 <nav class="bs-docs-sidebar hidden-print">
                     <ul class="nav hidden-print">
                         <li>
                             <button type="button" class="btn btn-link" data-ng-click="doList()">Fetch trade list</button>
                         </li>
                         <li>
                             <button type="button" class="btn btn-link" data-ng-click="doPlace()">Place new trade</button>
                         </li>
                         <li>
                             <button type="button" class="btn btn-link" data-ng-click="doClear()">EOD Reconciliation</button>
                         </li>
                     </ul>
                 </nav>
            </div>

            <div class="col-md-10" role="complementary" >
                <div class="activity-box" data-ng-show="!!message && !showError">
                    <img src="images/loader.gif" width="64" height="64" alt="Loading animation">
                    <span>{{ message }}</span>
                </div>
                <div data-ng-show="!message">
                    <h4>{{title}}</h4>
                    <div data-ng-show="showPanel==='clear'">
                    <p>Removed {{eodCount}} trade{{eodCount==1?"":"s"}}.</p>
                    </div>
                    <div data-ng-show="showPanel==='list'" data-ng-controller="paginationCtrl">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Trans ID</th>
                                <th>Stock</th>
                                <th>Place Time</th>
                                <th>Price</th>
                                <th>Volume</th>
                                <th>Action</th>
                                <th>State</th>
                                <th>State Change</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="trade in trades | limitTo: itemsPerPage:currentPage*itemsPerPage">
                                <td>{{trade.id}}</td>
                                <td>{{trade.transid}}</td>
                                <td>{{trade.stock.ticker}}</td>
                                <td>{{trade.ptime | date:'EEE hh:mm dd-MMM, yyyy'}}</td>
                                <td>{{trade.price | currency:"USD $"}}</td>
                                <td>{{trade.volume}}</td>
                                <td>{{trade.buysell}}</td>
                                <td>{{trade.state}}</td>
                                <td>{{trade.stime | date:'EEE hh:mm dd-MMM, yyyy'}}</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-success" data-ng-click="doEdit(trade)">Modify</button>
                                    <button type="button" class="btn btn-sm btn-warning" data-ng-click="doCancel(trade)">Cancel</button>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
	                        <tr>
	                            <td colspan="5">
	                                <div class="pagination">
	                                    <button type="button" class="btn btn-default" data-ng-class="prevPageDisabled()" data-ng-click="prevPage()">&laquo;</button>
	                                    <button type="button" class="btn btn-default"
	                                            data-ng-repeat="n in range(trades)" data-ng-class="{active: n == currentPage}" data-ng-click="setPage(n)">{{n+1}}</button>
	                                    <button type="button" class="btn btn-default" data-ng-class="nextPageDisabled()" data-ng-click="nextPage()">&raquo;</button>
	                                </div>
	                            </td>
	                        </tr>
                        	</tfoot>
                        </table>
                    </div>

                    <div data-ng-show="showPanel==='edit'">
                        <form class="form-horizontal" name="placeTrade" data-ng-submit="doSubmit(updateTrade)" novalidate>
                            <div class="form-group" data-ng-show="updateTrade">
                                <label class="col-sm-2 control-label">ID</label>
                                <div class="col-sm-10">
                                    <input type="number" min="0" data-ng-model="fields.id"
                                           data-ng-readonly="updateTrade"
                                           class="form-control" name="id" placeholder="unique id">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Trans ID</label>
                                <div class="col-sm-10">
                                    <input type="text" data-ng-maxlength="20" maxlength="20" required data-ng-model="fields.transid"
                                           data-ng-readonly="updateTrade"
                                           class="form-control" name="transid" placeholder="transaction id">
                                        <div role="alert" class="of-error" data-ng-messages-multiple
                                             data-ng-messages="placeTrade.transid.$error" data-ng-show="placeTrade.transid.$touched">
                                            <div data-ng-message="required">Transaction id for trade is required.</div>
                                            <div data-ng-message="maxlength">Transaction id cannot exceed {{maxlength}} characters.</div>
                                        </div>
                                 </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Stock</label>
                                <div class="col-sm-10">
                                    <input type="text" maxlength="16" required data-ng-model="fields.stock.ticker"
                                           data-ng-readonly="updateTrade"
                                           class="form-control" name="stock" placeholder="stock ticker" >
                                    <span data-ng-show="placeTrade.stock.$error.required && placeTrade.stock.$touched" 
                                          class="of-error">A stock ticker is required.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                    <label class="col-sm-2 control-label">Date</label>
                                    <div class="col-sm-10">
                                        <input type="date" placeholder="yyyy-MM-dd" required data-ng-model="fields.date"
                                               data-ng-readonly="updateTrade"
                                               class="form-control" name="date">
                                        <div role="alert" class="of-error" data-ng-messages-multiple
                                             data-ng-messages="placeTrade.date.$error" data-ng-show="placeTrade.date.$touched">
                                            <div data-ng-message="required">Date for trade is required.</div>
                                        </div>
                                    </div>
                            </div>
                            <div class="form-group">
                                    <label class="col-sm-2 control-label">Time</label>
                                    <div class="col-sm-10">
                                        <input type="time" required data-ng-model="fields.time"
                                               data-ng-readonly="updateTrade"
                                               class="form-control" name="time">
                                        <div role="alert" class="of-error" data-ng-messages-multiple
                                             data-ng-messages="placeTrade.time.$error" data-ng-show="placeTrade.time.$touched">
                                            <div data-ng-message="required">Placement time is required.</div>
                                        </div>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Price</label>
                                <div class="col-sm-10">
                                    <input type="number" min="0.01" required data-ng-model="fields.price"
                                           class="form-control" name="price" placeholder="stock price" >
                                       <div role="alert" class="of-error" data-ng-messages-multiple
                                             data-ng-messages="placeTrade.price.$error" data-ng-show="placeTrade.price.$touched">
                                            <div data-ng-message="required">Price is required.</div>
                                            <div data-ng-message="min">Price must be of at least one penny.</div>
                                        </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Volume</label>
                                <div class="col-sm-10">
                                    <input type="number" min="1" required data-ng-model="fields.volume"
                                           class="form-control" name="volume" placeholder="stock volume" >
                                      <div role="alert" class="of-error" data-ng-messages-multiple
                                             data-ng-messages="placeTrade.volume.$error" data-ng-show="placeTrade.volume.$touched">
                                            <div data-ng-message="required">Volume is required.</div>
                                            <div data-ng-message="min">Volume must be of at least one.</div>
                                        </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Action (B/S)</label>
                                <div class="col-sm-10">
                                    <input type="text" maxlength="1" required data-ng-model="fields.buysell"
                                           class="form-control" name="buysell" placeholder="action: B or S"
                                           data-ng-readonly="updateTrade"
                                           data-ng-pattern="/^B|S$/" >
                                      <div role="alert" class="of-error" data-ng-messages-multiple
                                             data-ng-messages="placeTrade.buysell.$error" data-ng-show="placeTrade.buysell.$touched">
                                            <div data-ng-message="required">Action is required.</div>
                                            <div data-ng-message="pattern">Action must be B)uy or S)ell.</div>
                                        </div>
                                </div>
                            </div>
                            <div class="form-group" data-ng-show="updateTrade">
                                <label class="col-sm-2 control-label">State</label>
                                <div class="col-sm-10">
                                    <input type="text" data-ng-model="fields.state"
                                           data-ng-readonly="true"
                                           class="form-control" name="id" placeholder="state">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default" data-ng-show="!updateTrade"
                                    data-ng-disabled="placeTrade.$invalid">
                                Place Trade
                            </button>
                            <button type="submit" class="btn btn-default" data-ng-show="updateTrade"
                                    data-ng-disabled="placeTrade.$invalid">
                                Modify Trade <br> {{fields.transid}}
                            </button>
                         </form>
						<div data-ng-show="updateTrade">
						    <h4>State change test buttons</h4>
						    <button type="button" class="btn btn-sm btn-success" data-ng-click="doState(fields.transid, 'A')">Accept</button>
						    <button type="button" class="btn btn-sm btn-success" data-ng-click="doState(fields.transid, 'D')">Deny</button>
						    <button type="button" class="btn btn-sm btn-success" data-ng-click="doState(fields.transid, 'E')">Execute</button>
						    <button type="button" class="btn btn-sm btn-success" data-ng-click="doState(fields.transid, 'R')">Reject</button>
						    <button type="button" class="btn btn-sm btn-success" data-ng-click="doState(fields.transid, 'S')">Settle</button>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript -->
<script src="js/jquery-1.11.3.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>
